body {
  font-family: sans-serif;
  background-color: black;
  color: lightgray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

content {
  margin-left: 6rem;
  margin-right: 10rem;
  display: inline-block;
  text-align: justify;
}

nav a {
  display: inline-block;
  margin: 1em;
}

footer a {
  display: inline-block;
  margin: 4rem;
  align-items: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
  align-items: center;
  margin-left: 34rem;
  margin-right: 34rem;
}

.modal-content {
  color: black;
  align-self: center;
  width: 500px;
  height: 400px;
}
